<form action="/cart" method="post">
    <button class="btn" type="submit">Add To Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>"><!--ye bas hamane esliye bnaya h q k hame id ki value pass karani h-->
</form>