<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title><!--Yha p dynamiccali Content AAyega jo jab ham es file call karenge tab pass karenge-->
    <link rel="stylesheet" href="/css/main.css"><!--Adding css on a givin address in public folder-->